# --- Godot Engellemeleri ---
.godot/
*.import
export_presets.cfg

# --- .NET / C# Engellemeleri ---
bin/
obj/
.vs/
.vscode/
*.user
*.userprefs
*.sln.dotsettings.user

# --- Python Engellemeleri ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.python-version

# --- Sistem Engellemeleri ---
.DS_Store
Thumbs.db
